.edit-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.edit-profile-container a {
    width: 125%;
    display: flex;
    align-items: center;
    color: var(--dirty-white);
    gap: 5px;
    transition: all .2s;
}

.edit-profile-container a:hover {
    filter: brightness(.5);
    gap: 10px;
}

.edit-profile-container h1 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.edit-profile-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    width: 100%;
    margin-bottom: 30px;
}

.edit-profile-container form input[type='text']{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: .1px solid var(--grey);
    color: var(--white);
    padding-bottom: 10px;
}

.edit-profile-container form textarea {
    background-color: transparent;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    border: .1px solid var(--grey);
    color: var(--white);
}

.photo-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    height: 500px;
    gap: 15px 0px; 
    grid-template-areas: 
    "image image image"
    ". . ."; 
}

.photo-container img {
    width: 450px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    margin: auto;
    background-color: var(--grey);
    grid-area: image;
}

.photo-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 5px;
    outline: none;
    margin: 0px 5px;
    padding: 10px 0;
    border-radius: 10px;
    border: .1px solid var(--grey);
    color: var(--white);
    background-color: var(--bright-black);
    cursor: pointer;
    transition: all .2s;
}

.delete-photo-button {
    border: none !important;
    background-color: var(--red) !important;
}

.photo-container button:hover {
    filter: brightness(.5);
    gap: 10px;
}

.submit {
    background-color: var(--blue);
    border: none;
    outline: none;
    padding: 12px;
    margin-top: 5px;
    border-radius: 10px;
    font-weight: 600;
    color: var(--white);
    letter-spacing: 1px;
    transition: all .2s;
    cursor: pointer;
}

.submit:hover {
    filter: brightness(.5);
    letter-spacing: 2px;
}