.login-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: .1px solid var(--grey);
    border-radius: 20px;
}

.login-form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}