.profile-container {
    border: .1px solid var(--grey);
    border-radius: 10px;
    width: 1000px;
    height: 86vh;
    margin-top: 100px;
    background-color: #23232379;
    padding: 20px;
    display: grid;
    place-items: center;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profile-container img {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}