.all-videos {
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: scroll;
}

.all-videos::-webkit-scrollbar {
    width: 10px; 
}

.all-videos::-webkit-scrollbar-thumb {
    background-color: var(--grey); 
    border-radius: 10px; 
}

.all-videos::-webkit-scrollbar-track {
    background-color: transparent; 
}

.video {
    border-bottom: .1px solid var(--grey);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.video h3 a{
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all .3s;
}

.video h3 a:hover {
    color: var(--blue);
    text-decoration: underline;
}

.video h3 a img {
    aspect-ratio: 1/1;
    width: 35px;
    border-radius: 50%;
}

.video iframe {
    margin: auto;
}